@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;600;800;900&family=Poppins:wght@300;400;500;600&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  scroll-behavior: smooth;
  font-family: "Poppins", sans-serif;
}

:root {
  --bg-color: #2a2a2a;
  --second-bg-color: #202020;
  --text-color: #fff;
  --second-color: #ffffff;
  --main-color: #05b4ff;
}

html,
body {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  background: var(--bg-color);
  color: var(--text-color);
  /* border: 2px ridge red; */
}

/* Media Queries */
@media only screen and (max-width: 980px) {
  #projects .project-info {
    justify-content: center;
    /* border: 2px solid #ffffff; */
  }

  #projects .project-info .car-rental,
  #projects .project-info .sleep-alarm,
  #projects .project-info .dekhosa {
    margin: 20px;
    width: 300px;
    padding: 10px;
    /* border: 2px solid #ffffff; */
  }
}

@media only screen and (max-width: 850px) {
  header .topnav li,
  #cont {
    display: none;
  }

  header .navmenu #icon i {
    display: block;
    position: relative;
    right: 20px;
    color: var(--text-color);
    font-size: 30px;
    cursor: pointer;
  }

  #home .home-text h1 {
    font-size: 45px;
  }
  #home .profile {
    width: 550px;
    height: 330px;
  }

  #about .skills {
    justify-content: center;
    /* border: 2px solid #ff1818; */
  }

  .about .skills .languages,
  .about .skills .tools,
  .about .skills .miscellaneous {
    margin: 20px;
    /* border: 2px solid #ff1818; */
  }
}

@media only screen and (max-width: 700px) {
  #home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    padding: 5% 2%;
    /* border: 2px solid #ffffff; */
  }

  #home .profile {
    position: relative;
    top: 20px;
    width: 250px;
    height: 250px;
  }
  #home .home-text {
    position: relative;
    top: 45px;
    /* border: 1px solid #bbff00; */
  }
  #home .home-text h1 {
    font-size: 55px;
  }

  #experience .experience-info .firsttwo,
  .secondtwo {
    margin-left: 60px;
    margin-right: 60px;
  }
}

@media only screen and (max-width: 450px) {
  #menu-icon:checked ~ ul {
    position: absolute;
    top: 0;
    right: 0px;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: center;
    padding: 20px;
    background-color: #2a2a2ad3;
    transition: right 1s ease-in-out;
  }

  .navmenu ul li {
    margin: 20px;
    padding: 3px;
    text-align: center;
    /* border: 2px solid #ffffff; */
  }

  #home .profile {
    position: relative;
    top: 20px;
    width: 250px;
    height: 250px;
  }

  #home .home-text h1 {
    font-size: 42px;
  }
  #home .home-text h3 {
    font-size: 20px;
  }
}

@media only screen and (max-width: 350px) {
  header #logo {
    position: relative;
    left: -24px;
    /* border: 2px ridge red; */
  }

  #home .home-text h1 {
    font-size: 35px;
  }
  #home .home-text h3 {
    font-size: 15px;
  }
}

/* header */
header {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  top: 0%;
  right: 0%;
  z-index: 100;
  background: var(--bg-color);
  padding-left: 40px;
  transition: all 0.45s ease;
  /* border: 2px dotted #ffffff; */
}

header #logo {
  color: var(--text-color);
  font-size: 40px;
  font-weight: 700;
  letter-spacing: 2px;
  /* border: 2px ridge red; */
}
header #logo span {
  color: var(--main-color);
}

/* NavBar */
header .topnav {
  display: flex;
  justify-content: space-between;
  /* border: 2px ridge #ffffff; */
}
header .topnav a {
  margin: 0 12px;
  font-size: 16px;
  font-weight: bolder;
  word-wrap: normal;
  word-break: keep-all;
  color: var(--second-color);
  transition: all 0.45s ease;
  /* border: 2px ridge red; */
}
.topnav a:hover {
  color: var(--main-color);
}

header #cont {
  position: relative;
  padding: 5px;
  font-size: 19px;
  font-weight: 500;
  word-break: keep-all;
  color: var(--second-color);
  border-radius: 20px 20px;
  border: 1px solid var(--main-color);
  transition: all 0.45s ease;
}
header #cont:hover {
  /* color */
  background-color: var(--main-color);
}

/* NavMenu with media query */
.navmenu #icon i {
  display: none;
  z-index: 1000;
}
.navmenu input[type="checkbox"] {
  display: none;
}

.navmenu ul {
  /* display: none; */
  position: fixed;
  right: -200px;
  padding: 5px;
  background-color: #202020;
  border: 2px ridge #202020;
}
.navmenu ul li {
  padding: 3px;
  text-align: center;
  /* border: 2px solid #ffffff; */
}
.navmenu ul li a {
  color: #fff;
  font-size: 20px;
  font-weight: bold;
  transition: right 0.45s ease-in-out;
}
.navmenu ul li a:hover {
  color: var(--main-color);
}
#menu-icon:checked ~ ul {
  position: fixed;
  right: 0px;
  transition: right 0.45s ease-in-out;
  /* border: 2px solid #ffffff; */
}

/* Home Section */
.home {
  position: relative;
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 0px 2% 0px 5%;
  align-items: center;
  /* border: 2px solid #fbff00; */
}

.home .home-text {
  display: flex;
  flex-direction: column;
  text-align: justify;
  padding: 15px;
  /* border: 2px solid red; */
}

.home-text .slide .one {
  margin-right: 15px;
  padding: 0px 15px;
  line-height: 32px;
  font-size: 20px;
  font-weight: 500;
  border-radius: 5px;
  background: var(--main-color);
  color: var(--text-color);
  /* border: 2px solid red; */
}
.home-text .slide .two {
  color: var(--second-color);
  font-size: 20px;
  font-weight: 500;
  /* border: 2px solid red; */
}

.home-text h1 {
  color: var(--text-color);
  font-size: 6.2vw;
  font-weight: 900;
  /* border: 1px solid red; */
}

.home-text h3 {
  color: var(--text-color);
  font-size: 25px;
  font-weight: 500;
  line-height: 40px;
  /* border: 1px solid red; */
}
.home-text h3 span {
  color: var(--main-color);
  /* border: 1px solid red; */
}

.button {
  align-items: center;
  justify-content: center;
  padding: 12px;
  margin-top: 10px;
  /* border: 2px solid #ffffff; */
}
.button a {
  padding: 4px;
  background: var(--main-color);
  border-radius: 10px;
  color: var(--text-color);
  font-size: 20px;
  letter-spacing: 1px;
  font-weight: 500;
  transition: all 0.45s ease;
  /* border: 2px solid red; */
}

/* Styling profile */
.home .profile {
  margin-top: 20px;
  width: 500px;
  height: 350px;
  padding: 0px 25px;
  /* border: 2px solid red; */
}

.profile .pic {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #202020;
  border-radius: 50%;
  overflow: hidden;
  box-shadow: 0px 0px 10px 3px #00a2ff;
  /* border: 2px solid white; */
}

.pic::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 80%;
  background: linear-gradient(450deg, #fffb00, rgb(255, 0, 43));
  transition: all 1s ease-in-out;
  animation: animate 4s infinite ease-in-out;
}

.pic::after {
  content: "";
  position: absolute;
  background: #2a2a2a;
  border-radius: 50%;
  inset: 5px;
  z-index: 1;
  transition: all 0s ease-in-out;
}

.image {
  position: absolute;
  border-radius: 50%;
  inset: 5px;
  z-index: 3;
  border: 1px solid #202020;
}

img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  /* background: red; */
}

@keyframes animate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* About Me Section */
.about {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  /* border: 2px solid #fbff00; */
}

.about h1 {
  margin-top: 40px;
  font-size: 40px;
  /* border: 2px solid #ff0000; */
}

.about h1 span {
  color: var(--main-color);
}

.about .about-text {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  /* border: 2px solid #ff0000; */
}

.about h4 {
  color: #ccc;
  font-size: 20px;
  /* border: 2px solid #ff0000; */
}

.about-text p {
  text-align: justify;
  /* border: 2px solid #ff0000; */
}

.about h2 {
  width: 100%;
  margin-top: 30px;
  text-align: start;
  /* border: 2px solid #ff0000; */
}

.about .honorsawards {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%;
  /* border: 2px solid #ff0000; */
}

.honorsawards span {
  color: var(--main-color);
}

.honorsawards .codingcompetitions,
.scholastics {
  padding: 10px;
  text-align: start;
  /* border: 2px solid #ff0000; */
}

.honorsawards .codingcompetitions h3,
.scholastics h3 {
  font-size: medium;
  color: #ccc;
}

.codingcompetitions ul,
.scholastics ul {
  padding-left: 25px;
}

.codingcompetitions li,
.scholastics li {
  list-style-type: decimal;
}

/* Education Section */
.about .education {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  /* border: 2px solid #ff0000; */
}

.education .btech,
.jee-mains {
  padding: 20px;
  text-align: start;
  /* border: 2px solid #ff0000; */
}

.btech .timing,
.jee-mains .timing {
  display: flex;
  justify-content: space-between;
  color: #ccc;
  font-size: small;
  /* border: 2px solid #ff0000; */
}

/* Skills Section */
.about .skills {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  /* border: 2px solid #ffffff; */
}

.skills .languages,
.tools,
.miscellaneous {
  margin: 20px 10px 10px 10px;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0px 0px 5px 5px var(--main-color);
  transition: all 0.4s ease-in-out;
  border: 2px ridge white;
}

.skills .languages:hover,
.tools:hover,
.miscellaneous:hover {
  transform: translateY(-5px) scale(1.05);
}

.skills .languages ul,
.tools ul,
.miscellaneous ul {
  padding-left: 25px;
  /* border: 2px solid #ff0000; */
}

.skills .languages li,
.tools li,
.miscellaneous li {
  list-style-type: disc;
  /* border: 2px solid #ff0000; */
}

/* Projects Section */
.projects {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  /* border: 2px solid #fbff00; */
}

.projects h1 {
  margin-top: 40px;
  font-size: 40px;
  /* border: 2px solid #ff0000; */
}

.projects h1 span {
  color: var(--main-color);
}

.projects .project-info {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  /* border: 2px solid #ff0000; */
}

.project-info .car-rental,
.sleep-alarm,
.dekhosa {
  margin: 100px 0px;
  width: 300px;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0px 0px 5px 5px var(--main-color);
  transition: all 0.4s ease-in-out;
  border: 2px ridge white;
}

.project-info .car-rental:hover,
.sleep-alarm:hover,
.dekhosa:hover {
  transform: translateY(-5px) scale(1.05);
}

.car-rental .github i,
.sleep-alarm .github i,
.dekhosa .github i {
  margin-bottom: 10px;
  color: #ffffff;
  font-size: 30px;
  /* border: 2px solid #ff0000; */
}

.sleep-alarm a,
.dekhosa a {
  color: var(--main-color);
}
.sleep-alarm a:visited,
.dekhosa a:visited {
  color: var(--main-color);
}

.project-info h3 {
  text-align: center;
  /* border: 2px solid #ff0000; */
}

.project-info .timing {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  color: #ccc;
  font-size: small;
  /* border: 2px solid #ff0000; */
}

.project-info li {
  list-style-type: disc;
}

.project-info ul {
  padding-left: 20px;
  /* border: 2px solid #ff0000; */
}

.project-info ul b {
  color: #ccc;
}

/* Experience Section */
.experience {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  /* border: 2px solid #fbff00; */
}

.experience h1 {
  margin-top: 40px;
  font-size: 40px;
  /* border: 2px solid #ff0000; */
}

.experience h1 span {
  color: var(--main-color);
}

.experience .experience-info {
  position: relative;
  width: 100%;
  margin-bottom: 60px;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-content: center;
  /* border: 2px solid #ff0000; */
}

.experience-info .ex1,
.ex2, .ex3 {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-content: center;
  /* border: 2px solid #ff0000; */
}

.experience-info .videolan,
.unacademy,
.gssoc {
  margin: 50px 0%;
  width: 300px;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0px 0px 5px 5px var(--main-color);
  transition: all 0.4s ease-in-out;
  border: 2px ridge white;
}

.experience-info .videolan:hover,
.unacademy:hover,
.gssoc:hover {
  transform: translateY(-5px) scale(1.05);
}

.experience-info h3 {
  text-align: center;
  /* border: 2px solid #ff0000; */
}

.experience-info h4 {
  color: #ccc;
  text-align: center;
  /* border: 2px solid #ff0000; */
}

.experience-info .timing {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  color: #ccc;
  font-size: small;
  /* border: 2px solid #ff0000; */
}

.experience-info li {
  list-style-type: disc;
}

.experience-info ul {
  padding-left: 20px;
  /* border: 2px solid #ff0000; */
}

.experience-info ul b {
  color: #ccc;
}

.experience-info .videolan .gitlab i {
  color: #fff;
}

.videolan a {
  color: var(--main-color);
}
.videolan a:visited {
  color: var(--main-color);
}

/* footer */

#footerline {
  border-bottom: 2px ridge #202020;
  /* border-width: thick; */
}

.footer {
  display: flex;
  flex-direction: column;
  padding: 20px;
  color: #ffffff;
  background-color: #202020;
  /* border: 2px dashed #ffffff; */
}

/* Details section */
.footer .details {
  display: flex;
  justify-content: space-between;
  /* border: 2px dashed #ffffff; */
}

/* Company Name */
.footer h1 {
  text-align: center;
  color: #ffffff;
  padding: 10px 9% 10px 4px;
  border-bottom: 4px solid #2a2a2a;
  /* border: 2px dashed #f30303; */
}
.footer h1 span {
  color: var(--main-color);
  text-shadow: none;
  font-weight: bolder;
}

/* Social Icons */
.footer .details .social {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  /* border: 2px dashed #e5ff00; */
}

.details .social a {
  width: 40px;
  height: 40px;
  margin: 10px;
  color: #fff;
  /* border: 2px dashed #e5ff00; */
}
.details .social a i {
  color: #fff;
  text-align: center;
  font-size: 45px;
  /* border: 2px dashed #e5ff00; */
}

.details .social a img {
  width: 100%;
  border-radius: 5px;
  object-fit: cover;
}

.details .social a:hover {
  transform: scale(1.1);
}

/* Information Section */
.footer .info {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 10px;
  /* border: 2px dashed #fa0505; */
}

.footer .info a {
  color: #05b4ff;
  text-decoration: underline;
}
.footer .info a:visited {
  color: #05b4ff;
  text-decoration: underline;
}

/* greeting Section */
.footer #last-line {
  margin-top: 50px;
  padding: 10px;
  text-align: center;
  /* border: 2px dashed #f70101; */
}
.footer #last-line a {
  color: var(--main-color);
  font-size: large;
  font-style: italic;
  text-decoration: underline;
  /* border: 2px dashed #ffffff; */
}
